@model HelloWorld.ViewModels.ContactViewModel
@{
    ViewBag.Title = "Contact Page";
}
@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<h2>Contact me</h2>
<form method="post">
    <span asp-validation-summary="ModelOnly"></span>
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <label asp-for="Email"></label>
    <input type="email" asp-for="Email" />
    <span asp-validation-for="Email"></span>

    <label asp-for="Subject"></label>
    <input type="text" asp-for="Subject" />
    <span asp-validation-for="Subject"></span>

    <label asp-for="Message"></label>
    <textarea asp-for="Message" rows="4" cols="40"></textarea>
    <span asp-validation-for="Message"></span>

    <br>
    <input type="submit" value="Submit" />

    <div>@ViewBag.UserMessage</div>


</form>